@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-dark text-white font-display antialiased;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #101f22;
}

::-webkit-scrollbar-thumb {
  background: #283639;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #25d1f4;
}
